In [1]:
//Revision of previous section
class Car:
    pass

In [2]:
audi = Car()

In [3]:
audi.mileage=10
audi.year=2009
audi.make=154
audi.model="xyz"

In [4]:
audi.make

154

In [5]:
audi.mileage

10

In [6]:
nano=Car()

In [8]:
nano.mileage=67
nano.year=2010
nano.make=74
nano.model="Tata"

In [11]:
class Car:
    def __init__(self,mileage,year,make,model):
        self.year=year
        self.mileage=mileage
        self.make=make
        self.model=model

In [12]:
nano1=Car(2004,14,25,156)
nano2=Car(2005,14,25,156)
nano3=Car(2007,14,25,157)
nano4=Car(2008,14,25,158)

In [40]:
class Car:
    def __init__(s,m,y,ma,mo):
        s.year=y
        s.milage=m
        s.make=ma
        s.model=mo
        
    def age(b,current_year):
        return current_year-b.year
    
    def milage1(self):
        print("Print the mileage of the call",self.milage)
        
    def __str__(c):
        return "this is from class i have created"

In [41]:
nano23=Car(2009,12,45,"vhvvjv")

In [42]:
nano23.milage1()

Print the mileage of the call 2009

In [43]:
print(nano23)

this is from class i have created

In [48]:
class Person:
    def __init__(self,firstname,lastname,age):
        self.firstname=firstname
        self.lastname=lastname
        self.age=age
        
    def __str__(self):
        return "this is the person class"

In [49]:
person=Person("imran","a",27)

In [50]:
print(person)

this is the person class

In [51]:
person.age

27

In [52]:
person.firstname

'imran'

In [93]:
class student:
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
        
    def cur_topic(self):
        print("current topic discussion in class is",self.current_topic)
        
    def str_rollno(self):
        try:
            if type(self.rollno)==str:
                print("do nothing")
            else:
                return str(self.rollno)
        except Exception as e:
            print("this is my error message",e)
            
    def duration(self,current_date):
            print("duration of student in my class is",current_date- self.joining_date)
            
    def __str__(self):
            return "this is student class"

In [94]:
s1=student("imran",45,2007,"Data Science")

In [95]:
print(s1)

this is student class

In [97]:
s1.duration(2010)

duration of student in my class is 3

In [71]:
s1.str_rollno()

'45'

In [81]:
s1.cur_topic()

current topic discussion in class is Data Science

In [90]:
class student:
    def who(self):
        print("I am a student")

In [91]:
s1=student()

In [92]:
s1.who()

I am a student

In [100]:
#Non parametized constructor
class Company:
    
    def __init__(self):
        self.name="ineuron"
        self.address="Bangalore"
        
    def show(self):
        print("name",self.name,"address",self.address)

In [101]:
cmp=Company()

In [102]:
cmp.show()

name ineuron address Bangalore

In [128]:
# Parametized constructor
class pub_mod:
    def __init__(self,name,age):
        self._name=name
        self.age=age
    
    def age1(self):
        print("age :",self.age)

In [126]:
c1=pub_mod("imran",84)

In [124]:
c1.age1()

age : 84

In [139]:
#Access Modifiers
class Rectangle:
    #__length=0
    #__breadth=0
    
    def __init__(self):
        self.length=5
        self._breadth=3
        
        print(self.length)
        print(self._breadth)

In [140]:
r1=Rectangle()

5
3

In [141]:
r1.length

5

In [145]:
class Rectangle:
    #__length=0
    #__breadth=0
    
    def __init__(self):
        self.length=5
        self.__breadth=3
        
        print(self.length)
        print(self.__breadth)
        
    def show(self):
        print("this is printing private variable",self.__breadth)
        
rect=Rectangle()
print(rect.length)
print(rect.breadth)

5
3
5

AttributeError: 'Rectangle' object has no attribute 'breadth'

In [146]:
rect.show()

this is printing private variable 3

In [148]:
rect._Rectangle__breadth

3

In [151]:
class test:
    def __init__(self):
        self.a=6
        self.b=5
        self.c=8
        print("public",self.a,"protected",self.b,"private",self.c)

In [152]:
t1=test()

public 6 protected 5 private 8

In [153]:
t1.a

6

In [154]:
t1.b

5

In [155]:
t1.c

8

In [169]:
class test:
    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8
        print("public",self.a,"protected",self._b,"private",self.__c)
        
    def show(self):
        print("protected:",self._b,"private",self.__c)

In [170]:
t2=test()

public 6 protected 5 private 8

In [171]:
t2.show()

protected: 5 private 8

In [174]:
t2._test__c

8

In [176]:
t2._b

5

In [199]:
class Tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
        
    def __str__(self):
        return ("Tyres:\n \tBranch" + self.branch + "\n \t Belted-bias"
               + str(self.belted_bias) + "\n \t optimal pressure" +
               str(self.opt_pressure))
    
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
            
    def __str__(self):
        return ("Engine \n \t Fuel type" + self.fuel_type + "\n \t Noise level:" + str(self.noise_level))
class Body:
        
    def __init__(self,size):
        self.size=size
            
    def __str__(self):
        return ("Body:\n \t size" + self.size)
        
class Car:
    def __init__(self,tyres,engine,body):
        self.tyres=tyres
        self.engine=engine
        self.body=body
        
    def __str__(self):
        return (str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body))

In [200]:
t=Tyres("bangalore",True,2.0)
e=Engine("Petrol",4)
b=Body('Medium')

In [201]:
c=Car(t,e,b)
print(c)

Tyres:
 	Branchbangalore
 	 Belted-biasTrue
 	 optimal pressure2.0
Engine
 	 Fuel typePetrol
 	 Noise level:4
Body:
 	 sizeMedium