In [ ]:
# all the 50 questions will be doing today
#1
for i in range(5):
    print(i+1)

In [6]:
#2
#for i in range(1,6):
 #   print("*"*i)
# other method
for i in range(1,6):
    for j in range(i):
        print("*",end = '')
    print('')

*
**
***
****
*****

In [7]:
#3
n = int(input())
print(n**2)

 2

4

In [10]:
#4
a = int(input())
b = int(input())
print(a+b)

 7
 6

13

In [12]:
#5
a = input()
b = input()
print(a+""+b)

 gur
 ansh

guransh

In [15]:
#6
x = input()
#DL7CAA0202
print(x[0:2])

 DL7CAA0202

DL

In [20]:
#7
#num = input()
#d1 = int(num[0])
#d2 = int(num[1])
#d3 = int(num[2])
#d4 = int(num[3])
#d5 = int(num[4])
#dsum = d1+d2+d3+d4+d5
#print(dsum)
# other method
a = input()
count = 0
for i in (a):
    count += int(i)
count

 12345

15

In [25]:
#8
word1 = input()
word2 = input()
word3 = input()
word4 = input()
word5 = input()
space =" "
stop ="."
sentence = word1 + space + word2 + space + word3 + space + word4 + space + word5 + space + stop

 i
 write
 code
 in
 inuerob

In [26]:
print(sentence)

i write code in inuerob .

In [27]:
#9
date = input()
year = date[-4:]
print(year)

 13-05-1999

1999

In [34]:
#10
#inp_num = [1,2,3,4,5]
#prod = 1
#for i in inp_num:
 #   if i != ',':
  #      prod = prod * int(i)
#print(prod)
# other method
num = input()
d1 = int(num[0])
d2 = int(num[1])
d3 = int(num[2])
d4 = int(num[3])
d5 = int(num[4])
dsum = d1*d2*d3*d4*d5
print(dsum)

 12345

120

In [4]:
#11
x = int(input())
y = int(input())
res = x**y
print(res)
my_str = str(res)
print(len(my_str))

 5
 2

25
2

In [44]:
#12
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1] =='.':
        s = s[:-1]
    else:
        s = s+'.'
n = int((len(s)-1)/2)
print(s[n-1: n+2])

 hi.

hi.

In [46]:
#13
x = int(input())
y = int(input())
z = int(input())
if ((x**2 + y**2 == z**2) or
    (y**2 + z**2 == x**2) or
    (z**2 + x**2 == y**2)):
    print("yes")
else:
    print("no")

 3
 4
 5

yes

In [ ]:
#14
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

if ((emp1 + emp2) % 2 == 0 and
    (emp2 + emp3) % 2 == 0 and
    (emp3 + emp4) % 2 == 0 and
    (emp4 + emp5) % 2 == 0 and
    (emp5 + emp6) % 2 == 0):
    print("Yes Meeting happend")
else:
    print("No meetinf didn't happen")

In [ ]:
#15
#n = input("enter the string:")
#lst = list(n)
#print(lst)
#vols = ['a','e','i','o','u']
#out = []
#for each in lst:
#    if each in lst:
#        out.append(each)
#print("vowels found are:")
#print(set(out))

# other method
input_string = input().lower()
vowels=""
if "a" in input_string:
    vowels += "a"
if "e" in input_string:
    vowels += "e"
if "i" in input_string:
    vowels += "i"
if "o" in input_string:
    vowels += "o"
if "u" in input_string:
    vowels += "u"

    if vowels != "":
        print(vowels)
    else:
        print("None")

In [ ]:
#16
name1 = input("enter name")
dob1 = input("enter dob")
name2 = input("enter name2")
dob2 = input("enter dob2")
if dob1 == dob2:
    if name < name2:
        print("younger is", name)
    else:
        print("younger is", name2)
if (dob1[-4:] < dob1[-4:]):
    print("younger is", name2)
else:
    print("younger is",name)

In [1]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1==d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[3:5]) < int(d2[3:5]):
        print(n2)
    else:
        print(n1)
elif d1[0:2] != d2[0:2]:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else:
        print(n1)

 guransh
 13-05-1999
 amu
 29-07-2000

amu

In [14]:
#17
p = input()
if 8 <=len(p) <= 32 and p[0].isalpha() and '/' not in p and '\\' not in p and '=' not in p and '\'' not in p and '\"' not in p and ' ' not in p:
    print("True")
else:
    print("False")

 nc12ec049

True

In [11]:
#18
n=int(input())
for i in range(1,n+1):
    print(i)

 5

1
2
3
4
5

In [6]:
#19
n=int(input())
isprime = True
if n ==1:
    isprime = False
else:
    for i in range(2,n):
        if n%i == 0:
            isprime = False
if isprime == True:
    print(n,"is a prime no.")
else:
    print(n,"not a prime no.")

 14585

14585 not a prime no.

In [5]:
#20
a = input()
b = input()
for c in a:
    if c in b:
        b = b.replace(c,'')
print(b)

 sam
 ramu

ru