In [5]:
#q1 : Create your own class to perform a list search operation 
class ineuron:
    def __init__(self,name,roll_no):
        self.name = name
        self.roll_no = roll_no
list = []
list.append(ineuron('Shiv',42))
list.append(ineuron('Garry',10))
list.append(ineuron('Manny',17))
list.append(ineuron('Kumar',32))

for obj in list:
    print(obj.name,obj.roll_no)
print("")
print(list[0].name)
print(list[1].name)
print(list[2].name)
print(list[3].name)

Shiv 42
Garry 10
Manny 17
Kumar 32

Shiv
Garry
Manny
Kumar

In [8]:
#q2 : create a class for dict new element addition
class my_dict(dict):
    def __init__(self):
        self = dict()
    
    def add(self,key,value):
        self[key]=value
dict_obj = my_dict()
dict_obj.add(2,'NeuroLab')
dict_obj.add(8,'FSDS2.0')
print(dict_obj)n

{2: 'NeuroLab', 8: 'FSDS2.0'}

In [ ]:
#q3 : create a class for tuple data extraction operation

In [4]:
#q4 : Create a class to implement all insert , update , delete operation for mysql
import mysql.connector
con = mysql.connector.connect(host='localhost',user='root',password='Nikerebona13@',database='ClassOp')
cur = con.cursor()
r = int(input("Enter Roll no:"))
n = input("Enter Name:")
m = int(input("Marks:"))
query = "Insert into ClassOperation({},'{}',{})".format(r,n,m)
cur.execute(query)
con.commit()
print("Row inserted successfully")

Enter Roll no:4
Enter Name:sd
Marks:12

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '4,'sd',12)' at line 1

In [7]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (4.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo) (2.3.0)

In [11]:
#q5 : create a class to implement insert , update and delete in mongo db 
import pymongo
client = pymongo.MongoClient("mongodb+srv://ineuron:ineuron@cluster0.lfekgeb.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client['ineuron']
col = db['course']
col1 = db['students']
data = {
    'course_name' : ['full stack data science ','full stack data analytics' , 'big data' , 'devops' , 'blockchain'],
    'course_instructor' : ['sudhanshu' ,'anand' , 'shashank' , 'hitesh' , 'navin'],
    'start_date' : '10-11-2023',
    'duration' : 'two months',
    'mode' : 'Virtual',
    'certification' : 'yes',
    'prequisite' : ' Nothing',
    'resume' : 'yes',
    'mockinterview' : 'no'
    
}

col.insert_one(data)
col.delete_many({'duration': 'two months'})
col.update_many({"price":"1800"},{"$set":{"price":4500}})

In [ ]:
#q9 : create a class method to find a time and space complexity of any function

In [ ]:
#q10: create a class to do a bulk uplaod of a file in mysql 
import csv
with open('glass.data','r') as f:
    glass_data=csv.reader(f,delimiter='\n')
    for i in glass_data:
        print(i)
        print(f"insert into glassdata values ({str(i[0])})")
        cursor.execute(f"insert into test1.glassdata values ({str(i[0])})")
mydb.commit()